h1 {
  color: black;
  text-align: center;
  font-size: 24pt;
}

h2 {
  color: black;
  font-size: 20pt;
}

h3 {
  color: DarkSlateGray;
  text-indent: 1%;
  font-size: 18pt;
}

h4 {
  color: SaddleBrown;
  text-indent: 1%;
  font-size: 16pt;
}

body {
  background-color: WhiteSmoke;
}

a:link, a:visited {
  color: black;
  text-align: center;
  padding-left: 1%;
  text-decoration: none;
  display: inline;
}

a:hover, a:active {
  background-color: LightBlue;
}

code {
  color: darkred;
  background-color: gainsboro;
  font-size: 110%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}